/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
}

.profile-header {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-body {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-body h2 {
  margin-top: 0;
}

.skills {
  margin-top: 20px;
}

.skill {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}

/* Stijl voor de zoekbalk */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-bar {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Stijl voor de extra knoppen */
.additional-buttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #333;
}

/* Stijl voor de checkbox */
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container label {
  display: inline-block;
  padding-left: 5px;
  cursor: pointer;
}